<div class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header accent p-24">
        <h3>Customer</h3>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Requirements">
                <div class="p-24">
                    <fuse-requirements-content></fuse-requirements-content>
                </div>
            </mat-tab>

            <mat-tab label="Status Progress">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </mat-tab>

            <mat-tab label="Development">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </mat-tab>

            <mat-tab label="Revision & Approval">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </mat-tab>

            <mat-tab label="Launch">
                <div class="p-24">
                    <fuse-demo-content></fuse-demo-content>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
