<!-- DEMO CONTENT -->
<div class="demo-content line-height-1.75">

    <h1 class="m-0">SPECIFICATIONS FOR WEBSITE TRANSLATION & ON PAGE SEO</h1>

    <h2>YOUR SPANISH WEBSITE:</h2>

    <div class="form-group"><label>Main Objective Of Your Spanish-Language Site? <span class="field-required">*</span></label> <label class="radio"><input type="checkbox"> Select All</label> <label class="radio"><input type="checkbox" value="1"> To offer a better experience to our existing Hispanic customers</label><label class="radio"><input type="checkbox" value="2"> To generate new leads from Spanish-language customers</label></div>

    <h3>BILINGUAL WEBSITES: WORDPRESS MULTISITE VS. WPML PLUG IN</h3>
    <ul>
        <li>Orci varius</li>
        <li>Magnis dis</li>
        <li>Conubia nostra</li>
        <li>Semper urna</li>
        <li>Donec viverra</li>
    </ul>

    <h2>DOMAIN. KEYWORDS. COMPETITORS.</h2>

    <h2>TARGET AUDIENCE. METRICS. SPANISH MARKETING.</h2>

</div>
<!-- / DEMO CONTENT -->
